* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	transition: all 0.25s ease-in;
	-webkit-tap-highlight-color: transparent;
}
#control {
	opacity: 0.1;
}
#control:hover {
	opacity: 1;
}
body {
	display: flex;
}
#view {
	height: 100dvh;
	width: 100dvw;
	align-items: center;
	display: flex;
	justify-content: center;
}
#view > img {
	max-height: 100dvh;
	max-width: 100dvw;

	.hidden {
		opacity: 0;
	}
}

@media (max-width: 768px) and (orientation: portrait) {
    #view {
		max-height: 80dvh !important;
	}
	#control {
		top: unset !important;
		bottom: 0 !important;
		height: 20dvh !important;
		flex-direction: row !important;
		width: 100dvw;
	}
	#control_btns {
		flex-direction: row !important;
	}
}

#control, #control_btns {
	display: flex;
	flex-direction: column;
}
#control {
	position: fixed;
	top: 0;
	left: 0;
	width: 15rem
}
#control > label {
	width: 15rem;
}
@media (pointer: coarse) {
	#control_btns > button[id^="picker"], #control_btns > invalid, #control > label > :is(input,button) {
		padding: .35rem;
		height: 4rem;
		border-radius: 99999999999999999999999999999px;
	}
	#control > label {
		width: 20rem !important;
	}
	#control {
		padding: .5rem;
	}
}
#control > label > :is(input,button) {
	border-color: #6600ff;
	border-width: .1rem;
}
#control > label {
	> button {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	> input {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}
#control_btns > button[id^="picker"] {
	padding: .25rem;
	margin: .2rem;
	height: 2rem;
	border-color: #6600ff;
	border-width: .1rem;
}
#control_btns > _ {
	margin-block: .1rem;
}
#control_btns > invalid {
	border-color: red;
	border-width: .05rem;
}





.lds-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	margin: auto;
}

.lds-grid div {
	width: 16px;
	height: 16px;
	background-color: #333;
	margin: 4px;
	border-radius: 4px;
	animation: lds-grid 1.2s infinite ease-in-out;
}

@keyframes lds-grid {
	0%, 100% { opacity: 1; }
	50% { opacity: 0.3; }
}
  
/* From https://loading.io/css/ */
/*.lds-grid,
.lds-grid div {
  box-sizing: border-box;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: currentColor;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

*/