* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	transition: all 0.25s ease-in;
	-webkit-tap-highlight-color: transparent;
}
#control {
	opacity: 0.1;
}
#control:hover {
	opacity: 1;
}
body {
	display: flex;
}
#view {
	height: 100dvh;
	width: 100dvw;
	align-items: center;
	display: flex;
	justify-content: center;
}
#view > img {
	max-height: 100dvh;
	max-width: 100dvw;

	.hidden {
		opacity: 0;
	}
}

@media (max-width: 768px) and (orientation: portrait) {
    #view {
		max-height: 80dvh !important;
	}
	#control {
		top: unset !important;
		bottom: 0 !important;
		height: 20dvh !important;
		flex-direction: row !important;
		width: 100dvw;
	}
	#control_btns {
		flex-direction: row !important;
	}
}

#control, #control_btns {
	display: flex;
	flex-direction: column;
}
#control {
	position: fixed;
	top: 0;
	left: 0;
	width: 15rem
}
#control > label {
	width: 15rem;
}
@media (pointer: coarse) {
	#control_btns > button[id^="picker"], #control_btns > invalid, #control > label > :is(input,button) {
		padding: .35rem;
		height: 4rem;
		border-radius: 99999999999999999999999999999px;
	}
	#control > label {
		width: 25rem !important;
	}
	#control {
		padding: .5rem;
	}
}
#control > label > :is(input,button) {
	border-color: #6600ff;
	border-width: .1rem;
}
#control > label {
	> button {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	> input {
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}
#control_btns > button[id^="picker"] {
	padding: .25rem;
	margin: .2rem;
	height: 2rem;
	border-color: #6600ff;
	border-width: .1rem;
}
#control_btns > _ {
	margin-block: .1rem;
}
#control_btns > invalid {
	border-color: red;
	border-width: .05rem;
}





/* From https://loading.io/css/ SLIGHTLY**** modified */
.lds-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
  }
  
  .lds-grid div {
	width: 1rem;
	height: 1rem;
	background: currentColor;
	animation: lds-grid 3s linear infinite;
	filter: blur(4px);
  }
  
  .lds-grid div:nth-child(1) { animation-delay: 0s; }
  .lds-grid div:nth-child(2) { animation-delay: 2s; }
  .lds-grid div:nth-child(3) { animation-delay: 1s; }
  .lds-grid div:nth-child(4) { animation-delay: 2s; }
  .lds-grid div:nth-child(5) { animation-delay: 1s; }
  .lds-grid div:nth-child(6) { animation-delay: 2s; }
  .lds-grid div:nth-child(7) { animation-delay: 1s; }
  .lds-grid div:nth-child(8) { animation-delay: 2s; }
  .lds-grid div:nth-child(9) { animation-delay: 3s; }
  
  @keyframes lds-grid {
	0%, 100% {
	  opacity: 0.75;
	}
	50% {
	  opacity: 0.25;
	}
  }
  
  